---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>My First Astro Site</title>
	</head>
	<body>
		<div class="page-header">
			<h1>My First Astro</h1>
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
				Est unde, voluptates cumque nulla dicta sit vero harum neque enim, 
				alias tempora soluta id, repellat ipsam doloremque cum blanditiis officiis cupiditate.</p>
		</div>
	</body>
</html>
